{
    loop_engine => 'Gtk2',
    
    defaults    => {
        timeout     => 1,
        behaviour   => {
            fail => { 
                3   =>  'info',
                5   =>  'alert',
            },
            ok  => { 3 => 'notice' },
        },
    },
    
    watchers => [
        {
            class => 'App::PerlWatcher::Watcher::Ping',
            config => {
                host    =>  'basiliscos',
                port    =>  443,
                frequency   =>  15,
            },
        },
        
        {
            class => 'App::PerlWatcher::Watcher::Ping',
            config => {
                host    =>  'iptel.by',
                port    =>  80,
                frequency   =>  15,
                on => { fail => { 5 => 'alert' } },
            },
        },
        
        {
            class => 'App::PerlWatcher::Watcher::Ping',
            config => {
                host    =>  'media.iptel.by',
                port    =>  80,
                frequency   =>  25,
                on => { fail => { 10 => 'info' } },
            },
        },
        
        {
            class => 'App::PerlWatcher::Watcher::Ping',
            config => {
                host    =>  'google.com',
                port    =>  80,
                frequency   =>  10,
                on => { fail => { 5 => 'alert' } },
            },
        },
        
        {
            class => 'App::PerlWatcher::Watcher::Ping',
            config => {
                host    =>  'helios',
                port    =>  53,
                frequency   =>  30,
                on => { fail => { 10 => 'info' } },
            },
        },
        
        {
            class => 'App::PerlWatcher::Watcher::Rss',
            config => {
                url         =>  'http://www.opennet.ru/opennews/opennews_all.rss',
                title       =>  'opennet',
                frequency   => 5,
                items       =>  5,
                on          => { 
                        ok      => 'info',
                        fail    => 'warn',
                },
            },
        },
        
        
        {
            class => 'App::PerlWatcher::Watcher::Rss',
            config => {
                url     =>  'http://www.linux.org.ru/section-rss.jsp?section=1',
                title   =>  'lor',
                items   =>  5,
                on => { 
                    ok      => 'info',
                    fail    => 'warn',
                },
            },
        },
        
        
        {
            class => 'App::PerlWatcher::Watcher::FileTail',
            config => {
                file    =>  '/var/log/messages',
                lines   =>  10,
            },
        },
        
    ],
    
    frontend => {
        gtk => {
            window_size => [ 500, 300 ],
        },
    },
    
};
