use utf8;

{
    defaults    => {
        timeout     => 1,
        behaviour   => {
            fail => { 
                3   =>  'info',
                5   =>  'warn',
                8   =>  'alert',
            },
            ok  => { 3 => 'notice' },
        },
    },
    
    watchers => [
        {
            class => 'App::PerlWatcher::Watcher::Weather',
            config => {
                latitude    => 53.54,
                longitude   => 27.34,
                frequency   => 1800,
                timeout     => 15,
            },
        },
        
        {
            class => 'App::PerlWatcher::Watcher::HTTPSimple',
            config => {
                url                 =>  'http://download.finance.yahoo.com/d/quotes.csv?s=EURUSD=X&f=sl1d1t1c1ohgv&e=.csv',
                title               =>  '€/$',
                #title               =>  'eur/usd',
                frequency           => 600,
                timeout             => 10,
                response_handler    => sub {
                    (split(',', $_))[1];
                },
                on                  => { 
                    ok      => { 1  => 'notice' },
                    fail    => { 10 => 'info'   },
                },
            },
        },
        
        
        {
            class => 'App::PerlWatcher::Watcher::Ping',
            config => {
                host    =>  'non-existen-host',
                port    =>  443,
                frequency   =>  5,
                on => { fail => {  10 => 'info/max' } },
            },
        },
        
        {
            class => 'App::PerlWatcher::Watcher::Ping',
            config => {
                host    =>  'iptel.by',
                port    =>  80,
                frequency   =>  15,
                on => { fail => { 5 => 'alert' } },
            },
        },
        
        # {
        #     class => 'App::PerlWatcher::Watcher::Ping',
        #     config => {
        #         host    =>  'media.iptel.by',
        #         port    =>  80,
        #         frequency   =>  25,
        #         on => { fail => { 10 => 'info/max' } },
        #     },
        # },
        
        {
            class => 'App::PerlWatcher::Watcher::Ping',
            config => {
                host    =>  'google.com',
                port    =>  80,
                frequency   =>  10,
                on => { fail => { 5 => 'alert' } },
            },
        },
        
        # {
        #     class => 'App::PerlWatcher::Watcher::Ping',
        #     config => {
        #         host    =>  'anna-wan',
        #         port    =>  22,
        #         frequency   =>  30,
        #         on => { fail => { 5 => 'info' } },
        #     },
        # },
        
        # {
        #     class => 'App::PerlWatcher::Watcher::Ping',
        #     config => {
        #         host    =>  'helios',
        #         port    =>  53,
        #         frequency   =>  30,
        #         on => { fail => { 10 => 'info/max' } },
        #     },
        # },
        
        {
            class => 'App::PerlWatcher::Watcher::Rss',
            config => {
                url         =>  'http://www.opennet.ru/opennews/opennews_all.rss',
                title       =>  'opennet',
                frequency   => 60,
                timeout     => 10,
                items       =>  5,
                on          => { 
                        ok      => { 1  => 'notice' },
                        fail    => { 10 => 'info/max'   },
                },
            },
        },
        
        
        {
            class => 'App::PerlWatcher::Watcher::Rss',
            config => {
                url         =>  'http://www.linux.org.ru/section-rss.jsp?section=1',
                title       =>  'lor',
                frequency   => 120,
                timeout     => 10,
                items       =>  5,
                on          => { 
                        ok      => { 1  => 'notice' },
                        fail    => { 10 => 'info/max'   },
                },
            },
        },

        {
            class => 'App::PerlWatcher::Watcher::Rss',
            config => {
                url         =>  'http://www.anna-news.info/rss.xml',
                title       =>  'anna-news',
                frequency   => 600,
                timeout     => 60,
                items       => 5,
                on          => { 
                        ok      => { 1  => 'notice' },
                        fail    => { 10 => 'info/max'   },
                },
            },
        },

        
        {
            class => 'App::PerlWatcher::Watcher::FileTail',
            config => {
                file            =>  '/var/log/messages',
                lines_number    =>  10,
                filter          => sub { $_ !~ /\scron/ },
            },
        },
        
    ],

};
