use utf8;

{
    
    frontend => {
        gtk => {
            window_size         => [ 500, 300 ],
            
            # make the event uninteresting after
            # seen at the UI during 5 seconds
            uninteresting_after => 3,
        },
    },
    
};

